{% extends "base.html" %}
{% block content %}
<div class="text-white  min-h-screen pt-20">
    {% include 'navbar.html' %}
    <!-- Navbar -->
    {% include 'exercise/navpost.html' %}
    <!-- Main Content -->
    <div class="max-w-4xl mx-auto mt-8 p-6">
        <h1 class="text-3xl font-bold text-center mb-4">Dumbbell Shoulder Press</h1>
       <!-- Image -->
        <div class="relative flex justify-center">
            <img src="https://files.oaiusercontent.com/file-XpzMWxovhCNd6dBE7woyh4?se=2025-02-02T16%3A37%3A47Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D26f69503-0a22-448a-a354-5c5f710d4b77.webp&sig=ckyKPtJMgBNVQ/JL5uX9AdpEz9fiSHlXt8gQWGONjUA%3D" 
                alt="Dumbbell Shoulder Press" 
                class="rounded-lg shadow-lg w-[600px] max-w-full h-auto object-cover">
        </div>
        <!-- Description -->
        <p class="text-lg text-center mt-6">
            ท่านี้จะใช้ในส่วนของกล้ามเนื้อไหล่ร่วมทั้งหมด และยังใช้ในส่วนของแกนกลางลำตัวร่วมด้วย
        </p>
        <!-- วิธีทำ -->
        <h2 class="text-2xl text-yellow-300 font-semibold mt-6">วิธีทำ :</h2>
        <ul class="list-disc ml-6 space-y-2 mt-2">
            <li>นั่งพิงเบาะหรือเก้าอี้  หรือยืนทำสำตัวตรง</li>
            <li>จับดัมเบลให้ข้อศอกกางตั้งฉาก 90 องศา</li>
            <li>ยกขึ้นจนแขนเหยียด เหนือหัว</li>
            <li>ค่อยๆลดดัมเบลลงมาที่เดิม</li>
        </ul>
        <div class="flex justify-between">
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>อุปกรณ์แนะนำ: <span class="text-white">ดัมเบล</span> </p>
            </div>
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>จำนวนแนะนำ:  <span class="text-white">8-12ครั้ง/เซ็ท 4เซ็ท</span></p>
            </div>
        </div>
    </div>

    <div class="max-w-4xl mx-auto mt-4 p-6">
        <h1 class="text-3xl font-bold text-center mb-4">Dumbbell Shoulder Press</h1>
       <!-- Image -->
        <div class="relative flex justify-center">
            <img src="https://files.oaiusercontent.com/file-XpzMWxovhCNd6dBE7woyh4?se=2025-02-02T16%3A37%3A47Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D26f69503-0a22-448a-a354-5c5f710d4b77.webp&sig=ckyKPtJMgBNVQ/JL5uX9AdpEz9fiSHlXt8gQWGONjUA%3D" 
                alt="Dumbbell Shoulder Press" 
                class="rounded-lg shadow-lg w-[600px] max-w-full h-auto object-cover">
        </div>
        <!-- Description -->
        <p class="text-lg text-center mt-6">
            ท่านี้จะใช้ในส่วนของกล้ามเนื้อไหล่ร่วมทั้งหมด และยังใช้ในส่วนของแกนกลางลำตัวร่วมด้วย
        </p>
        <!-- วิธีทำ -->
        <h2 class="text-2xl text-yellow-300 font-semibold mt-6">วิธีทำ :</h2>
        <ul class="list-disc ml-6 space-y-2 mt-2">
            <li>นั่งพิงเบาะหรือเก้าอี้  หรือยืนทำสำตัวตรง</li>
            <li>จับดัมเบลให้ข้อศอกกางตั้งฉาก 90 องศา</li>
            <li>ยกขึ้นจนแขนเหยียด เหนือหัว</li>
            <li>ค่อยๆลดดัมเบลลงมาที่เดิม</li>
        </ul>
        <div class="flex justify-between">
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>อุปกรณ์แนะนำ: <span class="text-white">ดัมเบล</span> </p>
            </div>
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>จำนวนแนะนำ:  <span class="text-white">8-12ครั้ง/เซ็ท 4เซ็ท</span></p>
            </div>
        </div>
    </div>

    <div class="max-w-4xl mx-auto mt-4 p-6">
        <h1 class="text-3xl font-bold text-center mb-4">Dumbbell Shoulder Press</h1>
       <!-- Image -->
        <div class="relative flex justify-center">
            <img src="https://files.oaiusercontent.com/file-XpzMWxovhCNd6dBE7woyh4?se=2025-02-02T16%3A37%3A47Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D26f69503-0a22-448a-a354-5c5f710d4b77.webp&sig=ckyKPtJMgBNVQ/JL5uX9AdpEz9fiSHlXt8gQWGONjUA%3D" 
                alt="Dumbbell Shoulder Press" 
                class="rounded-lg shadow-lg w-[600px] max-w-full h-auto object-cover">
        </div>
        <!-- Description -->
        <p class="text-lg text-center mt-6">
            ท่านี้จะใช้ในส่วนของกล้ามเนื้อไหล่ร่วมทั้งหมด และยังใช้ในส่วนของแกนกลางลำตัวร่วมด้วย
        </p>
        <!-- วิธีทำ -->
        <h2 class="text-2xl text-yellow-300 font-semibold mt-6">วิธีทำ :</h2>
        <ul class="list-disc ml-6 space-y-2 mt-2">
            <li>นั่งพิงเบาะหรือเก้าอี้  หรือยืนทำสำตัวตรง</li>
            <li>จับดัมเบลให้ข้อศอกกางตั้งฉาก 90 องศา</li>
            <li>ยกขึ้นจนแขนเหยียด เหนือหัว</li>
            <li>ค่อยๆลดดัมเบลลงมาที่เดิม</li>
        </ul>
        <div class="flex justify-between">
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>อุปกรณ์แนะนำ: <span class="text-white">ดัมเบล</span> </p>
            </div>
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>จำนวนแนะนำ:  <span class="text-white">8-12ครั้ง/เซ็ท 4เซ็ท</span></p>
            </div>
        </div>
    </div>

    <div class="max-w-4xl mx-auto mt-4 p-6">
        <h1 class="text-3xl font-bold text-center mb-4">Dumbbell Shoulder Press</h1>
       <!-- Image -->
        <div class="relative flex justify-center">
            <img src="https://files.oaiusercontent.com/file-XpzMWxovhCNd6dBE7woyh4?se=2025-02-02T16%3A37%3A47Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D26f69503-0a22-448a-a354-5c5f710d4b77.webp&sig=ckyKPtJMgBNVQ/JL5uX9AdpEz9fiSHlXt8gQWGONjUA%3D" 
                alt="Dumbbell Shoulder Press" 
                class="rounded-lg shadow-lg w-[600px] max-w-full h-auto object-cover">
        </div>
        <!-- Description -->
        <p class="text-lg text-center mt-6">
            ท่านี้จะใช้ในส่วนของกล้ามเนื้อไหล่ร่วมทั้งหมด และยังใช้ในส่วนของแกนกลางลำตัวร่วมด้วย
        </p>
        <!-- วิธีทำ -->
        <h2 class="text-2xl text-yellow-300 font-semibold mt-6">วิธีทำ :</h2>
        <ul class="list-disc ml-6 space-y-2 mt-2">
            <li>นั่งพิงเบาะหรือเก้าอี้  หรือยืนทำสำตัวตรง</li>
            <li>จับดัมเบลให้ข้อศอกกางตั้งฉาก 90 องศา</li>
            <li>ยกขึ้นจนแขนเหยียด เหนือหัว</li>
            <li>ค่อยๆลดดัมเบลลงมาที่เดิม</li>
        </ul>
        <div class="flex justify-between">
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>อุปกรณ์แนะนำ: <span class="text-white">ดัมเบล</span> </p>
            </div>
            <div class="flex mt-4 mr-20 text-yellow-300 text-sm">
                <p>จำนวนแนะนำ:  <span class="text-white">8-12ครั้ง/เซ็ท 4เซ็ท</span></p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
