{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="text-gray-100 font-poppins min-h-screen pt-20">
    <div class="flex">
        {% include 'user/menu.html' %}
        <div class="w-3/4 p-8 ml-6 mb-6 mr-8">

            <!-- Navigation Tabs -->
            <div class="flex justify-start mb-6 -mt-8 -mr-8 -ml-8">
                <a href="?status=all" class="w-1/2 py-4 px-4 text-xl text-center cursor-pointer {% if status == 'all' %} bg-yellow-500  border-b-2 border-yellow-400 text-black {% else %} bg-black text-yellow-600  hover:text-yellow-500 {% endif %}">
                    ประวัติการซื้อ
                </a>
                <a href="?status=pending" class="w-1/2 py-4 px-4 text-xl text-center cursor-pointer {% if status == 'pending' %} bg-yellow-500  border-b-2 border-yellow-400 text-black {% else %} bg-black text-yellow-600  hover:text-yellow-500 {% endif %}">
                    อุปกรณ์ที่ต้องรับ
                </a>
            </div>

            <div class="w-full h-full overflow-hidden">
                <div class="p-4 sticky z-20">
                    <h2 class="text-lg font-bold">
                        {% if status == 'pending' %}
                            อุปกรณ์ที่ต้องรับ
                        {% else %}
                            ประวัติการซื้ออุปกรณ์
                        {% endif %}
                    </h2>
                </div>

                <div class="p-8 overflow-y-auto h-[calc(100%-4rem)]">
                    <div>
                        {% for buy in buy_history %}
                        <div class="flex items-center text-white border-b-2 p-4">
                            <img src="{{ buy.product.image.url }}" alt="{{ buy.product.name }}" class="w-20 h-20 rounded mr-4">
                            <div class="flex-1">
                                <h3 class="font-bold">{{ buy.product.name }}</h3>
                                <p>วันที่ซื้อ: {{ buy.buy_date|date:"d/m/Y" }}</p>
                                <p>วันที่รับ: {{ buy.get_date|date:"d/m/Y" }}</p>
                                <p>จำนวน: x{{ buy.amount }}</p>
                            </div>
                            <div class="text-right">
                                <p class="text-lg text-white">{{ buy.product.price|intcomma }} บาท</p>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center text-gray-500">ไม่มีรายการสินค้า</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
